.nav.navbar, .navbar-default {
    background-color: #73bbad;
    color:white;
}

.navbar-default{
    background-image:none;
    border:none;
    border-radius:0;
    height: 60px;
    padding: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover  {
    color:white;
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}

.navbar-left {
    float: left!important;
}

.navbar-form {     
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px)
.navbar-form .form-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

svg{
    width: 20px;
    height: 20px;
    color: white;
    fill: white;
    background-color:white;
}
a{
    color:white;
}