.filterwrap{
    width: 60%;
    height:220px;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    border: 2px solid;
    padding: 25px 25px;
}

.content{
    margin: 0 auto;
}

.filterwrap ul{
    display: block;
    margin: 0 auto;
    padding: 15px;
}


.filterwrap li{
    display: inline-block;
    padding: 0 10px;
    width: auto;
    height: 30px;
}

