.jumbotron{
    border: 2px solid #685c46;
    background-color: white;
    border-radius:0;
    margin-bottom: 4em;
    color: #73bbad;
}

.btn-primary{
    position:relative;
    background-image:none;
    margin-top: -20px;
    width: 200px;
    height: 40px;
    border:none;
    border-radius:20px;
    background-color:#e3582a;
    float:left;
    margin-bottom:50px;
}

.interested{
    background-color:#73bbad;
    color: brown;
    width: 150px;
    height: auto;
    font-size: 10px;
    float: right;
    border-radius:10px;
}

