.jumbotron{
    width: 60%;
    margin: 0 auto;
    height: auto;
}

.btn-wrapper{
    margin-top: 2em;
    margin: 0 auto;
    padding: 15px 15px;
    margin-bottom: 2em;
}

.btn-primary{
    width: 200px;
    height: 40px;
    border:none;
    border-radius:20px;
    background-color:#e3582a;
    align-items: right;
    margin-top: 20px;
    margin-bottom:50px;
    
}

