.btn-secondary{
    margin-top:25px;
    margin-right: 20px;
    margin-bottom:10px;
    color: white;
}

.post-wrapper{
    margin-top: 2em;
    margin: 0 auto;
    padding: 15px 15px;
    margin-bottom: 2em;
}

.post{
    width: 100%;
    border: 2px solid #685c46;
    border-radius:2;
    padding: 20px 35px;
    background-color:white;
    color: #73bbad;
}
.post p{
    font-size:12px;
    margin:20px, 20px;
}
