.container{
    width:60%;
}

.container input{
    width: 100%;
    clear: both;
}

.btn-primary{
    position:relative;
    background-image:none;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border:none;
    border-radius:20px;
    background-color:#e3582a;
    float:left;
    margin-bottom:100px;
}