.form-input {
    width: 100%;
    clear: both;
}

#formButton{
    margin-top:20px;
}

.alert{
	background-color:white;
}
.signinBtn{
	margin-right: 16px;
}

input{
	font-size:16px;
}

h3{
	font-size: 17px;
	margin-top: -10px;
}